
@media screen and (max-width:600px) {
     .swal2-popup.info {
  width:400px !important;
  height: 12vh !important;
  font-size: 17px !important;
  border-radius: 8px !important;
  margin-top: 95px!important;
  background-color:linear-gradient(135deg, #08060e, #161618, #24243e) !important;
  opacity: 0.9 !important;
  display: flex !important;
  padding: 1px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
  color: #cccccc !important;
  background-color: #0a0f2c;
}


.swal2-icon {
  width: 20px !important;
  font-size: 5px !important;
  height: 20px !important;
  display: flex !important;
 
}

.foo {
  background: linear-gradient(to top, #0a0f2c, #1f1c2c);
  color: #ccc;
  padding: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log{
  width: 50%;
}

.wholeflick{
  width: 100%;
  margin-top: 1rem;
  height: 100%;
  position: absolute;
  
  perspective: 1000px;
  cursor: pointer;
  padding: 50px;
}

.typed-text{
    margin-top: 10rem;
    padding-left: 140px;
    font-size: 26px;
    width: 100vh;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.flip-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;

}

.wholeflick.flip .flip-inner{
    transform: rotateY(180deg);
}

.flip-front ,.flip-back{
    
    position: absolute;
    backface-visibility: hidden;
     border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.greater{
    border: none;
    font-size: 30px;
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    background: linear-gradient(135deg, #ff6ec7, #ffb8f5);
    
}

.view{
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 7px;
    width: 100px;
    transition: transform 0.7s ease-in-out;
   border-radius: 15px;
    background: linear-gradient(135deg, #ff6ec7, #ffb8f5);
    
}

.view:hover{
    transform: scale(1.1);
    background: linear-gradient(135deg, #ffb8f5, #ff6ec7);
}

.flip-front{
     background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 20px;
}

.flip-front h1{
   background: linear-gradient(90deg, #ff6ec4, #7873f5);
-webkit-background-clip: text;
font-weight: bold;

-webkit-text-fill-color: transparent;
}

.flip-front p{
     background: linear-gradient(90deg, #cccccc, #ff9cf5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
padding-left: 1rem;
padding-bottom: 1rem;

}


.flip-back{
    background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 20px;
    transform: rotateY(180deg);
}

.flip-back h1{
   background: linear-gradient(90deg, #ff6ec4, #7873f5);
-webkit-background-clip: text;
font-weight: bold;

-webkit-text-fill-color: transparent;
}

.flip-back p{
     background: linear-gradient(90deg, #cccccc, #ff9cf5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
padding-left: 1rem;
padding-bottom: 1rem;

}
.five{
    margin-top: 10rem !important;
    
   }


}


@media screen and (min-width:601px) {

   .five{
    margin-top: 10rem !important;
    margin-left: 23.5rem !important;
   }

    .swal2-popup.info {
  width:400px !important;
  height: 12vh !important;
  font-size: 14px !important;
  border-radius: 8px !important;
  margin-top: 95px!important;
  opacity: 0.9 !important;
  display: flex !important;
  padding: 1px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
  color: #cccccc !important;
}


.swal2-icon {
  width: 20px !important;
  font-size: 5px !important;
  height: 20px !important;
  display: flex !important;
 
}



.wholeflick{
  width: 100%;
  height: 100%;
  perspective: 1000px;
  
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 23rem;
  padding: 50px;
}

.typed-text{
    margin-top: 10rem;
    text-align: center;
    min-height: 50px;
    width: 100%;
    margin-left: 23rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.flip-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;

}

.wholeflick.flip .flip-inner{
    transform: rotateY(180deg);
}

.flip-front ,.flip-back{
    
    position: absolute;
    backface-visibility: hidden;
     border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.flip-front{
     background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 20px;
}

.flip-front h1{
   background: linear-gradient(90deg, #ff6ec4, #7873f5);
-webkit-background-clip: text;
font-weight: bold;

-webkit-text-fill-color: transparent;
}

.flip-front p{
     background: linear-gradient(90deg, #cccccc, #ff9cf5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
padding-left: 1rem;
padding-bottom: 1rem;

}


.flip-back{
    background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 20px;
    transform: rotateY(180deg);
}

.flip-back h1{
   background: linear-gradient(90deg, #ff6ec4, #7873f5);
-webkit-background-clip: text;
font-weight: bold;

-webkit-text-fill-color: transparent;
}

.flip-back p{
     background: linear-gradient(90deg, #cccccc, #ff9cf5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
padding-left: 1rem;
padding-bottom: 1rem;

}

.greater{
    border: none;
    font-size: 30px;
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    background: linear-gradient(135deg, #ff6ec7, #ffb8f5);
    
}

.view{
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 7px;
    width: 200px;
    transition: transform 0.7s ease-in-out;
   border-radius: 15px;
    background: linear-gradient(135deg, #ff6ec7, #ffb8f5);
    
}

.view:hover{
    transform: scale(1.3);
    background: linear-gradient(135deg, #ffb8f5, #ff6ec7);
}

.foo{
  background: linear-gradient(to top, #0a0f2c, #1f1c2c);
  color: #ccc;
  margin-top: 20rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log{
  width: 20%;
}



}