@media screen and (min-width:601px) {
    .hello{
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 90%;
        height: 40vh;
        position: absolute;
        margin-left: 60px;
        gap: 30px;
        border-radius: 10px;
        margin-top: 15rem;
    }
    .language{
        gap: 30px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        
        
    }
    .one h1{
        color: #cccccc;
       padding: 20px;
       margin-bottom: 30px;
       font-weight: bold;
    }

    .language div{
         background: linear-gradient(to right, #4e54c8, #8f94fb);
         margin-top: 0px;
  
    }

    .two {
        font-weight: bold;
        padding: 10px;
    }
    .hello1{
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 90%;
        height: 55vh;
        position: absolute;
        margin-left: 60px;
        gap: 30px;
        margin-top: 17rem;
        border-radius: 10px;
    }

    .hello1{
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 90%;
        height: 55vh;
        position: absolute;
        margin-left: 60px;
        gap: 30px;
        margin-top: 17rem;
        border-radius: 10px;
    }

    .hello2{
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 90%;
        height: 40vh;
        position: absolute;
        margin-left: 60px;
        gap: 30px;
        margin-top: 17rem;
        border-radius: 10px;
        
    }
    .hello3{
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 90%;
        height: 40vh;
        position: absolute;
        margin-left: 60px;
        gap: 30px;
        margin-top: 17rem;
        border-radius: 10px;
        
    }

    
    .foot2 {
  background: linear-gradient(to top, #0a0f2c, #1f1c2c);
  color: #ccc;
  
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin-top: 400px;
  position: absolute;
  display: flex;
  height: 30vh;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.logo-img1{
  width: 20%;
}
.br{
    display: block;
}
}

@media screen and (max-width:600px) {
   .hello{
        margin-top: 160px;

       margin-left: 20px;
        width: 50vh;

        display: flex;
        flex-direction: column;
        
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        padding: 35px;
    }    
    .language{
        gap: 30px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        
        
    }
    .one h1{
        color: #cccccc;
       padding-top: 10px;
       padding-left: 10px;
       padding-right: 10px;
       padding-left: 0px;
       margin-bottom: 40px;
       font-weight: bold;
      
       letter-spacing: 1px;
    }
     .language div{
         background: linear-gradient(to right, #4e54c8, #8f94fb);
         
  
    }

    .two {
        font-weight: bold;
        padding: 10px;
    }

    .hello2{
        margin-top: 200px;
        size: 100%;
       margin-left: 20px;
        width: 50vh;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        padding: 35px;
    } 

    .hello1{
        margin-top: 200px;
       margin-left: 20px;
        width: 50vh;
        display: flex;
        flex-direction: column;
        
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        padding: 35px;
    } 

    .hello3{
        margin-top: 200px;
        size: 100%;
       margin-left: 20px;
        width: 50vh;

        display: flex;
        flex-direction: column;
        
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        padding: 35px;
    } 

    .foot2 {
  background: linear-gradient(to top, #0a0f2c, #1f1c2c);
  color: #ccc;
  padding: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 55vh;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-img1{
  width: 50%;
}
.br{
    display: none;
}
}